In [ ]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps

# Banking and Poverty
---

In [4]:
# Dependencies
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt


# Census API Key
c = Census(census_key, year=2013)

## Data Retrieval

In [5]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B17001_002E"), {
                         'for': 'zip code tabulation area:*'})

# # Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# # Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "Poverty Count",
                                      "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd['Poverty Rate']=census_pd['Poverty Count']/census_pd['Population']*100
# Final DataFrame


# Visualize
census_pd.head()

   Population  Poverty Count Zipcode  Poverty Rate
0     22121.0         2412.0   01832     10.903666
1      8295.0          191.0   01833      2.302592
2      6675.0          146.0   01834      2.187266
3     13527.0         1153.0   01835      8.523693
4      4547.0         1798.0   01840     39.542556

In [6]:
# convert dtype to int for merging w/ bank data
census_pd['Zipcode']=census_pd['Zipcode'].astype(int)

## Combine Data

In [7]:
# Import the zip bank data. Use dtype="object" to ensure all data is read in accurately.
bank_data_df=pd.read_csv('Resources/zip_bank_data.csv')

# Visualize
bank_data_df.head()

,Zipcode,Address,Median Age,Household Income,Per Capita Income,Lat,Lng,Bank Count
0,27358,"Summerfield, NC 27358, USA",43.0,88382.0,40210,36.234502,-79.885682,4
1,14113,"North Java, NY 14113, USA",45.6,47500.0,33149,42.683985,-78.327325,0
2,71825,"Blevins, AR 71825, USA",32.6,35625.0,13098,33.868278,-93.550907,2
3,32535,"Century, FL 32535, USA",37.8,34107.0,13066,30.972476,-87.371148,0
4,5483,"Sheldon, VT 05483, USA",35.9,65039.0,24743,46.738660,-92.282514,2

In [8]:
# Merge the two data sets along zip code
complete_df=pd.merge(bank_data_df, census_pd, how='left', on='Zipcode')

# Remove rows missing data
complete_df=complete_df.dropna()

# Visualize
complete_df.head()

,Zipcode,Address,Median Age,Household Income,Per Capita Income,Lat,Lng,Bank Count,Population,Poverty Count,Poverty Rate
0,27358,"Summerfield, NC 27358, USA",43.0,88382.0,40210,36.234502,-79.885682,4,14998.0,648.0,4.320576
1,14113,"North Java, NY 14113, USA",45.6,47500.0,33149,42.683985,-78.327325,0,630.0,65.0,10.317460
2,71825,"Blevins, AR 71825, USA",32.6,35625.0,13098,33.868278,-93.550907,2,686.0,248.0,36.151603
3,32535,"Century, FL 32535, USA",37.8,34107.0,13066,30.972476,-87.371148,0,6015.0,859.0,14.280964
4,5483,"Sheldon, VT 05483, USA",35.9,65039.0,24743,46.738660,-92.282514,2,1481.0,111.0,7.494936

## Heatmap of poverty rate

In [9]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [10]:
# Store 'Lat' and 'Lng' into  locations 
locations=complete_df[['Lat', 'Lng']]
# Convert Poverty Rate to float and store
poverty_rate=complete_df['Poverty Rate']

In [11]:
# Create a poverty Heatmap layer
fig=gmaps.figure()
heatmap_layer=gmaps.heatmap_layer(locations, 
                                weights=poverty_rate)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Convert bank rate to list
bank_rate=complete_df['Bank Count']

In [13]:
fig=gmaps.figure()
info_list=[]
for each_bank in bank_rate: 
    info_list.append(f'Bank amount: {each_bank}')
# Create bank symbol layer
bank_layer=gmaps.symbol_layer(locations, 
                              fill_color='blue', 
                              scale=2, 
                              info_box_content=[f'Bank amount: {bank}' for bank in bank_rate])
#                               info_box_content=info_list)
fig.add_layer(bank_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a combined map
fig=gmaps.figure()
fig.add_layer(heatmap_layer)
fig.add_layer(bank_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Statistical Analysis

#### Summary Statistics

In [ ]:
# Mean, median, mode for Poverty Rate, Bank Count, Population

In [ ]:
# Mean, median, mode for Poverty Rate

In [ ]:
# Mean, median, mode for Bank Count

In [ ]:
# Mean, median, mode for Population

#### Linear Regression

In [ ]:
## Convert to floats and store Poverty Rate and Bank Count as x and y values


# Run linear regression


# Plot scatter plot


# Plot regression line


# Label plot


# Print r square value


# Show plot

### Analysis